node_modules/
out/
*.tsbuildinfo
dist/
dist-electron/
release/
.env
.env.local
*.log
.DS_Store
Thumbs.db

# Base SQLite locale (données) + fichiers Prisma générés
prisma/*.db
prisma/*.db-journal
prisma/migrations/dev.db*
